# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
rl_env/
venv/
.env

# Training outputs
eval_logs/
models/

# TensorBoard
runs/
events.out.tfevents*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db